header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 0;

}
nav .logo h1{
    color:rgb(24, 111, 101);
    font-weight: 600;
    font-size: 20px;
}
nav .linkler{
    display: flex;
    gap: 40px;
    align-items: center;
    
}
nav .linkler a{ 
    font-size: 17px;
    font-weight: 400;
    color: rgb(24, 111, 101);
    text-decoration: none;
}
.total-section{
    max-width: 1100px;
    margin: 0 auto;
   
}
.first-step .text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.first-step{
    display: flex;
    justify-content: space-between;
}

.first-step .image{
    width: 200;

}
.first-step p{
    font-size: 20px;
    font-weight: 400;
    color:rgb(177, 148, 112);
}
.first-step h1{
    font-size: 60px;
    font-weight: 500;
    color: rgb(178, 83, 62);
}

.qutular .qutu img{
    width: 200px;
    height: 350px;
}
.qutular .qutu p{
    font-size: 25px;
    font-weight: 400;
}

.qutular{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;

}
    